{% extends 'ledger/base.html' %}

{% block title %}{{ recipe.name }}{% endblock %}
{% block page_heading %}{{ recipe.name }}{% endblock %}

{% block content %}
    <h2>Ingredients</h2>
    <p>Author: {{ recipe.author.name }}</p>
    <ul>
        {% for ingredient in recipe.ingredients.all %}
            <li>{{ ingredient.quantity }} - {{ ingredient.ingredient.name }}</li>
        {% empty %}
            <li>No ingredients added yet.</li>
        {% endfor %}
    </ul>
    
    <a href="{% url 'recipe_list' %}">Back to all recipes</a>
{% endblock %}